<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>I use HTML5, Bootstrap, CSS, SASS, Javascript, Typescript, and Processing in my web design.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-dot-net-plain colored"></i>
      <p>I code in standard C , C++ and the Microsoft .NET langauges</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-debian-plain colored"></i>
      <i class="devicon-windows8-original colored"></i>
      <p>I use Git, Debian, Windows and various MIDI software.</p>
    </div>
  </div>
</div>
