<div class="container">
  <div class="user-details">
    <h3>Featured Stories</h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Biograpghy</h5>
      <li> My Biograpghy</li>
      <p>Jonathan Moore's biography, INTJ personality, CV, Jonathan Moore's Genetic Origins and Mensa Training results. Soon to be in PDF form on Github.
And my books I'm reading on <a target="_blank" href="https://www.goodreads.com/user/show/72426002-jonathan-moore"></a>Good Reads</p>
      <a class="project-link" href="https://github.com/jdm7dv/biograpghy">Check it out</a>
    </div>
 <div class="row user-projects">
    <div class="six columns">
      <img alt="journal" src="{{ "/assets/img/journal_cover.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Manuscripts</h5>
      <ul>
        <li>My Manuscripts</li>
      </ul>
      <p>Jonathan Moore's Journal or Manuscripts from my social media archives and socical media and social networking days. Soon to be in PDF form on Github.</p>
        <a class="project-link" href="https://github.com/jdm7dv/journal">Check it out</a>
    </div>
  </div>
  </div>
</div>
