﻿<footer class="footer">
    <p>&copy; {{site.username}}</p>
    <p>Built with Jekyll and <span class="love">❤</span> by <a href="https://jdm7dv.github.io">Jonatan Moore</a></p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
