<div id="particles-js">
  <div class="content">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="icons-header">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
	<a aria-label="My News" target="_blank" href="http://www.news.jonathanmoore.net"><i class="icon fa fa-newspaper-o" aria-hidden="true"></i></a>
	<a aria-label="OSF" target="_blank" href="https://osf.io/profile/"><i class="icon fa fa-flask" aria-hidden="true"></i></a>
	<a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/jdm7dv"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
	<a aria-label="My Blogger" target="_blank" href="https://www.blogger.com/profile/04845957680564475468"><i class="icon fa fa-user-circle" aria-hidden="true"></i></a>
	<a aria-label="My Bandcamp" target="_blank" href="https://jdm7dv.bandcamp.com"><i class="icon fa fa-bandcamp" aria-hidden="true"></i></a>
	<!--<a aria-label="GoodReads" target="_blank" href="https://www.goodreads.com/user/show/72426002-jonathan-moore"><i class="icon fa fa-goodreads" aria-hidden="true"></i></a>-->
	<a aria-label="My Windows Open Source" target="_blank" href="http://www.windows.jonathanmoore.net"><i class="icon fa fa-windows" aria-hidden="true"></i></a>
      </div>
      <a class="link" href="#about" data-scroll>About Me</a>
      <a class="link" href="#projects" data-scroll>Projects</a>
      <a class="link" href="#albums" data-scroll>Albums</a>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
