<div class="container">
  <div class="user-details">
    <h3>Journal </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="journal" src="{{ "/assets/img/journal_cover.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Jonathan Moore's Journal </h5>
      <li> my bio</li>
      <p>Jonathan Moore's Journal in PDF form on Github</p>
      <a class="project-link" href="https://github.com/jdm7dv/journal">Check it out</a>
    </div>

  </div>
  </div>
</div>
