<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>      
      <section id="documented">
        {% include doc.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
      <section id="albums">
	{% include albums.html %}
	</section>	
        {{ content }}
      {% include footer.html %}
  </body>
